asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
dj-database-url==2.3.0
Django==5.2.1
flickrapi==2.4.0
gunicorn==23.0.0
idna==3.10
oauthlib==3.2.2
psycopg2-binary==2.9.10
pystache==0.6.5
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
six==1.17.0
sqlparse==0.5.3
urllib3==2.2.3
whitenoise==6.8.2